/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f0f12;
  color: #fff;
}

/* centralização da tela */
.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

input,
select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
  background: #111;
  color: #fff;
  outline: none;
}

input:focus,
select:focus {
  border-color: #22c55e;
}

/* botão */
button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #00ff5e;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #83e7a8;
}

/* Chrome, Safari, Edge, Opera */
input.form-input::-webkit-outer-spin-button,
input.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input.form-input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}
